body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 0;
    padding-bottom: 20px;
    height: auto;
    width: 100%;
    background-image: url(img/div-1.jpg);
    background-position: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

nav li {
    text-transform: uppercase;
    margin-left: 2em;
    padding: .5em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: firebrick;
}

.red:hover {
    color: #000099;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

.red {
    padding: .6em 2em;
    background: firebrick;
}

.btn-round {
    padding: .4em 1.8em;
    font-weight: 700;
    background: black;
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
    border: white solid 1px;
}

.btn-round:focus, 
.btn-round:hover {
    background:#000099;
    cursor: pointer;
}

.btn-dark {
    background: black;
    color: white;
    width: 30%;
}

.f-block {
    padding-top: 2rem;
    color: #c4c4c4;
}

.s-block {
    margin-top: 40px;
    margin-bottom: 40px;
}

.t-block {
    padding-top: 20px;
    color: white;
    width: 100%;
    background-image: url(img/div-3.jpg);
    min-height: 250px;
}

.container-album {
    z-index: 99;
    width: 40%;
    margin: 0 auto;
}

.light {
    color: gray;
}

.container-logo {
    width: 260px;
}

.band-logo {
    height: 250px;
    width: 250px;
}

.tickets {
    width: 100%;
}

.player {
    width: 15%;
    margin-right: 13%;
}

#player {
    width: 120px;
    height: 200px;
}

.news {
    width: 60%;
}

#btn-news {
    text-align: center;
}

.arrow {
    padding: 0 20px;
}

.arrow:hover,
.arrow:focus {
    cursor: pointer;
    color: firebrick;
    font-size: 1.2em;
}

.fo-block {
    width: 100%;
}

.container-events {
    padding-left: 50px;
    display: flex;
    margin: 0;
}

.events-text {
    width: 45%;
}

.events-image {
    height: 100%;
    width: 55%;
    background: firebrick;
}
.events-image img {
    padding: 25px;
    max-height: 400px;
    margin-left: 60px;
}

.l-block {
    background-image: url('img/l-div.jpg');
    width: 100%;
    object-fit: cover;
}

.container-about {
    padding: 30px;
    width: 40%;
    margin-left: 50%;
    color: white;
}



.container-footer {
    background: firebrick;
    padding: 30px;
    margin: 0 auto;
}

.container-footer li {
    font-size: 1.5rem;
    color: white;
}

.btn-about {
    width: 40%;
    margin: 0 auto;
}

.btn-about:hover {
    background:firebrick;
}

.footer {
    width: 40%;
    margin: 0 auto;
    list-style: none;
    justify-content: space-evenly;
}

.bold {
    font-weight: 700;
}

.fab {
    color: #c4c4c4;
}

.fab:hover {
    color: #000099;
}